* {
  background-color: #986c9c;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#tamagotchi {
  position: relative;
}

.status-bar {
  position: absolute;
  height: 20px;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

#health-bar {
  background-color: green;
  top: 250px;
  margin-top: -250px;
  margin-left: -410px;
}

#food-bar {
  background-color: blue;
  top: 300px;
  margin-top: -299px;
  margin-left: 400px;
}

#sleep-bar {
  background-color: purple;
  top: 350px;
  margin-top: 240px;
  margin-left: -410px;
}

#play-bar {
  background-color: orange;
  top: 400px;
  margin-top: 190px;
  margin-left: 400px;
}

.boton {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
}

.boton:hover {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha (opacity=50);
}
.boton a {
  color: #fff;
  text-decoration: none;
}

