.box{
  position: absolute;
  border-radius: 100%;
  z-index: 10;

}

.box-1{
  width: 225px;
  height: 225px;
  background-color: rgb(190, 190, 190);
  border-color: rgb(68, 68, 68);
}

.box-2{
  width: 200px;
  height: 200px;
  background-color: crimson;
}

.box-3{
  width: 175px;
  height: 175px;
  background-color: rgb(255, 255, 255);
}

.box-4{
  width: 150px;
  height: 150px;
  background-color: crimson;
}

.box-5{
  width: 125px;
  height: 125px;
  background-color: rgb(255, 255, 255);
}

.box-6{
  width: 100px;
  height: 100px;
  background-color: crimson;
}

.box-7{
  width: 75px;
  height: 75px;
  background-color: rgb(255, 255, 255);
}

.box-8{
  width: 50px;
  height: 50px;
  background-color: crimson;
}

.box-9{
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
}

.box-10{
  width: 5px;
  height: 5px;
  background-color: crimson;
}







