div{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px;
    outline: yellowgreen dotted 10px;
    outline-offset: 0;
}

div:active{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px;
    outline: black dotted 5px;
    outline-offset: 0;
}