*{
    background-color: blueviolet;
}
h1{
    text-align: center;
}
.table-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 4px solid black;
    background-color: bisque;
}


