body{
    background-color: antiquewhite;
}

caption span, tfoot{
    background-color: aqua;
}

table{
    border: solid 5px black;
    background-color: orange;
    border-radius: 10px 10px 0 0;
}

thead tr{
    padding-top:  10px;
}

tfoot{
    font-weight: bold;
}