/*  Codigo fuente original de boostrap */
@import "./node_modules/bootstrap/scss/bootstrap.scss";

/*Aqui mis modificaciones*/
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

.grid-breakpoint{
    xs:275px;
    sm:576px;
    md:768px;
    lg:992px;
    xl:1200px;
    xxl:1400px;
}

@include media-breakpoint-between (xs, md) {
    *{
        background-color: rgb(60, 255, 0);
    }
}

@include media-breakpoint-between(lg, xxl) {
    *{
        background-color: rgb(153, 0, 255);
    }
}